@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto');

.p-title, h1 {
    font-family: 'Roboto';
    color: hsl(201, 72%, 54%)
}

.p-img {
    height: 150px;
    width: 250px;
}

.row {
    display: flex;
    font-family: 'Cabin';
}

.row p {
    padding: 1% 3%;
}

.row .img-div, .row ul {
    width: 25vw;
}
.row .img-div {
    text-align: center;
}
.row p {
    width: 50vw;
}

h3 a {
    font-size: 13px;
    color: hsl(0, 0%, 70%)
}